<?xml version="1.0" ?>
<launch>
  <!-- <remap from="/m2wr/laser_scan" to="/sensor_msgs/LaserScan"/> -->
  <arg name="model" default="m2wr"/>
  <arg name="x_pos" default="-3.0"/>
  <arg name="y_pos" default="1.0"/>
  <arg name="z_pos" default="0.0"/>

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="true"/>
  
  <include file="$(find vacbot)/launch/robot_description.launch"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find vacbot)/worlds/rough.world"/>
    <arg name ="verbose" value = "$(arg verbose)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- <node name="mapper" pkg="gmapping" type="slam_gmapping">
    <param name="scan" value="/sensor_msgs/LaserScan"/>
    <param name="_base_frame" value="sensor_laser"/>
  </node> -->

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model m2wr -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) " output="screen"/>
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find vacbot)/rviz/default.rviz"/>
</launch>
